* {
  background: #333;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: auto;
  padding: inherit;
}

.image li img:hover{
  opacity: 0.6;
  transition: 255ms;
}

.searchInput:focus{
  outline: none;
}

